
@{
    ViewBag.Title = "О ресторане";
}

<h2>О ресторане</h2>
<div style="font-size:18px; max-width:700px">
    <p>
        «Кодзима» Само название уже обещает нам что-то интересное и интригующее!
    </p>
    <p>
        Что Вас ждет у нас? Конечно же уникальная атмосфера с большим выбором вкусной еды, напитков и музыки!
        Все создано для того, чтобы Вам хотелось возвращаться сюда снова и снова, отлично провести вечер, ночь и встретить утро!
    </p>
    <br/><br />
    <p>Часы работы:</p>
    <p>Вс-Чт - 12:00-00:00</p>
    <p>Пт-Сб - 12:00-05:00</p>

    ☎ телефон +7(965) 447-37-75
</div>